#content_item_left{
	height: 400px;
	width: 48%;
    margin: 1%; 
	float: left; 	
}
#content_item_right{
	height: 400px;
	width: 48%;
    margin: 1%;
	float: right;	
}
#content_item_bg1{
	height: 200px;
	width: auto;
	background:url(../img/title1.jpg) left no-repeat;
}
#content_item_bg2{
	height: 200px;
	width: auto;
	background:url(../img/title2.jpg) left no-repeat;
}
#content_item_bg3{
	height: 200px;
	width:  auto;
	background:url(../img/title3.jpg) left no-repeat;
}
#content_item_bg4{
	height: 200px;
	width: auto;
	background:url(../img/title4.jpg) left no-repeat;
}
.content_item_a{
	margin-left: 20px;
	margin-top: 20px;
  	color: #fff;
	text-align:center
		
}
.content_item_title{
	font-size: 20px;
	padding-left: 18px;
	align-content: space-between;
}
ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
ul li{
	background:none
	background-repeat:no-repeat;
	background-position:0px 0px; 
	padding-left:10px;
}
